// Colours
$colour-navbar-text-hover: rgba(220,20,60,1);

.navbar-lightdark-bg {
  background-color: rgba(56,56,56,0.75) !important;
}
.navbar-transparent-bg {
  background-color: transparent !important;
}

// Navigation Bar.
.navbar-default {

  // Fonts.
  font-family: "Oswald" !important;
  font-size: 1.5em;

  //background-color: transparent;
  border-color: transparent !important;

  // Brand Image.
  .navbar-brand {
    color: white !important;
    &:hover {color: $colour-navbar-text-hover !important};
  }

  // Page Link Buttons.
  .navbar-nav > li > a {
    color: white !important;

    // Psuedoclasses
    &:focus { color: $white; };
    &:link { color: $white; };
    &:visited { color: $white; };
    &:hover { color: $colour-navbar-text-hover !important; };
    &:active { color: $white; };

    // > Symbol for each button.
    span {
      visibility: hidden;
    }
  }
}
