// Colours
$colour-navbar-text-hover: #DC143C; // Red variant.

// Navbar toggle.
.navbar-default .navbar-toggle {
  border-color: transparent;
  background-color: transparent;

  &:hover, &:focus {
    background-color: transparent;
  }



  .icon-bar {
    background-color: $white;
    border: solid 2px white;
  }
}

.navbar-lightdark-bg {
  background-color: rgba(51,51,51,0.5);
}

.navbar-transparent-bg {
  background-color: transparent;
}

// Navigation Bar.
.navbar-default {

  // Fonts.
  font-family: "Oswald";
  font-size: 2em;

  //background-color: transparent;
  border-color: transparent;

  // Brand Image.
  .navbar-brand {
    font-size: 1.25em;
    color: white;
    float: left;

    &:focus { color: $white; };
    &:link { color: $white; };
    &:visited { color: $white; };
    &:hover { color: $white; };

  }

  // Page Link Buttons.
  .navbar-nav > li > a {

    // Link colour.
    color: $white;

    // Psuedoclasses
    &:focus { color: $white; };
    &:link { color: $white; };
    &:visited { color: $white; };
    &:hover { color: $colour-navbar-text-hover; };

    // > Symbol for each button.
    span {
      visibility: hidden;
    }
  }
}
