.portfolio-panel {
  padding-top: 15px;

  a {
    &:link { color: $grey; };
    &:visited { color: $grey; };

    &:hover {
      color: $orange;
    };

    &:active { color: $grey; };
  }
}

.portfolio-button {
  display: inline-block;
  margin: 0 auto;

  float: left;
  width: 50%;
}
