////////////////////////////////////////////////////////////////////////////////
//                             Colours
////////////////////////////////////////////////////////////////////////////////
$colour-linkedin-blue: rgba(00,77,181,0.7);
$colour-github-grey: rgba(31,33,35,0.7);
$colour-freecodecamp-green: rgba(00,64,00,0.7);

////////////////////////////////////////////////////////////////////////////////
//                              Mixins
////////////////////////////////////////////////////////////////////////////////

// Sets the pseudoclasses for a particular element.
//
// Arguments:
//  $color: The colour of the hover effect.
@mixin btn-pseudo-classes($color) {

  &:link { color: $white; };
  &:visited { color: $white; };

  &:hover {
    //background-color: $color;
    i {
      color: $color;
      transition: all 0.5s ease;
    }
  };

  &:active { color: $white; };

}

////////////////////////////////////////////////////////////////////////////////
//                              Buttons
////////////////////////////////////////////////////////////////////////////////

// Big button.
.btn-big {

  &:hover {transition: all 0.5s ease;};

  // Force link font colour to white.
  a { color: white !important; }

}

// LinkedIn button.
.btn-linkedin {
    @include btn-pseudo-classes($colour-linkedin-blue);
}

// GitHub button.
.btn-github {
    @include btn-pseudo-classes($colour-github-grey);
}

// FreeCodeCamp button.
.btn-freecodecamp {
    @include btn-pseudo-classes($colour-freecodecamp-green);
}
