.navbar-default {
  font-size: 2.5em;

  .navbar-brand { font-size: 1.25em; };
}

.section {
  .section-title { font-size: 5em; }; // Section Title.
  .section-content { font-size: 2.5em; }; // Section Body.
}

#section-home {
  .section-title { font-size: 8em; }; // Section Title.
  .section-content { font-size: 4em; }; // Section Body.

  .btn-big { i { font-size: 12em; } };
}

.portfolio-button {
  i { font-size: 1.5em; }; // Button Icon
  span {font-size: 1.25em; }; // Button Text.
}

.portfolio-description {
  font-size: 0.8em;
}
