////////////////////////////////////////////////////////////////////////////////
// Font paths
////////////////////////////////////////////////////////////////////////////////
$font-path: "../fonts/";

////////////////////////////////////////////////////////////////////////////////
// Fonts
////////////////////////////////////////////////////////////////////////////////

// Oswald
@font-face {
  font-family: "Oswald";
  src: url($font-path + "Oswald/Oswald-Regular.ttf")
}
