body {font-size: 100%;}

.navbar-default {
  font-size: 2.5em;

  .navbar-brand { font-size: 1.25em; };
}

.section {
  .title { font-size: 5em; }; // Section Title.
  .content { font-size: 2.5em; }; // Section Body.
}

#section-home {
  .title { font-size: 8em; }; // Section Title.
  .content { font-size: 4em; }; // Section Body.
  .btn-big { i { font-size: 12em; } };
}

#section-portfolio {
  .right .title { font-size: 1em; } // Right Panel Title.
  button i { font-size: 3em; } // Icon Size.
}
