////////////////////////////////////////////////////////////////////////////////
// Referennce Font Sizes
////////////////////////////////////////////////////////////////////////////////
/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
    body { font-size: 100%; };
}

/* ----------- Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    body { font-size: 100%; };
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    body {font-size: 70%;}
}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    body {font-size: 70%;}
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    body {font-size: 70%;}
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    body {font-size: 70%;}
}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    body {font-size: 70%;}
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    body {font-size: 70%;}
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    body {font-size: 70%;}
}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    body {font-size: 70%;}
}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    body {font-size: 70%;}
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    body {font-size: 70%;}
}

/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    body {font-size: 70%;}
}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    body {font-size: 70%;}
}

////////////////////////////////////////////////////////////////////////////////
// Navigation Bar
////////////////////////////////////////////////////////////////////////////////

.navbar-default {
  font-size: 2.5em;
  .navbar-brand { font-size: 1.25em; };
}

////////////////////////////////////////////////////////////////////////////////
// Sections
////////////////////////////////////////////////////////////////////////////////

// Base section styles
.section {
  .title { font-size: 5em; }; // Section Title.
  .content { font-size: 2.5em; }; // Section Body.
}

// Home
#section-home {
  .title { font-size: 8em; }; // Section Title.
  .content { font-size: 4em; }; // Section Body.
  .icon { font-size: 10em; }; // Icon size.
}

// About Me
#section-aboutme {
  .icon { font-size: 2em; }; // Icon size.
  .name { font-size: 0.75em; }; // Icon name.
}

// Portfolio
#section-portfolio {

  // Portfolio Project Buttons (Demo, More Info, GitHub).
  .portfolio-project-btn-array {
    .icon { font-size: 2.75em; };
    .name {font-size: 1.25em; };
  };

  // Popover icons.
  .container-devicon { .icon { font-size: 2.5em; }; };
}

// Footer
#section-footer {
  .title { font-size: 8em; }; // Section Title.
  .content { font-size: 3em; }; // Section Body.
  .icon { font-size: 2.5em; }; // Icon size.
}
