////////////////////////////////////////////////////////////////////////////////
// Navigation Bar Custom Background Classes
////////////////////////////////////////////////////////////////////////////////

.navbar-bg-translucent {
  background-color: rgba(51,51,51,0.9);
}

.navbar-bg-transparent {
  background-color: transparent;
}

////////////////////////////////////////////////////////////////////////////////
// Navigation Bar Toggle
////////////////////////////////////////////////////////////////////////////////

#navbar-main {

  position: fixed;
  width: 100%;
  z-index: 100;
  font-size: 2.5em;
  color: white;

  .handle {
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    cursor: pointer;
    display: none;
    padding-right: 2vw;
    padding-bottom: 9px;
  }

  // Navbar item.
  ul {
    overflow: hidden;
    padding: 0;
    text-align: right;

    padding-left: 2vw;
    padding-right: 2vw;

    -webkit-transition: max-height 0.4s;
    -ms-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;

    // Menu item.
    li {
      display: inline-block;

      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 5px;

      span {visibility: hidden;}
    }

    // Link and link effects.
    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        color: $red;
        span { visibility: visible; };
      }
    }// end link and link effects.
  }// end navbar item.
}

////////////////////////////////////////////////////////////////////////////////
// Collapse Navbar on mobile viewport.
////////////////////////////////////////////////////////////////////////////////

@media screen and (max-width: 650px) {
  #navbar-main {

    .brand {
      float: left;
      margin-left: 15px;
      margin-top: 5px;
    }

    .handle {
      display: block;
    }

    .showing {
      max-height: 20em;

      .arrow {
        display: none;
      }
    }

    // Menu.
    ul {

      // Span entire width.
      display: block;
      max-height: 0px;

      // Menu item.
      li {
        width: 100%;
        box-sizing: border-box;
        text-align: center;
      }

    }// end menu.
  }
}// end @media query.
