////////////////////////////////////////////////////////////////////////////////
// Navigation Bar Custom Background Classes
////////////////////////////////////////////////////////////////////////////////

.navbar-lightdark-bg {
  background-color: rgba(51,51,51,0.9);
}

.navbar-transparent-bg {
  background-color: transparent;
}

////////////////////////////////////////////////////////////////////////////////
// Navigation Bar Toggle
////////////////////////////////////////////////////////////////////////////////

// Colours.
$colour-navbar-toggle-bg: white;
$colour-navbar-toggle: white;

// Navigation bar toggle box.
.navbar-default .navbar-toggle {

  // No border or backgrounds.
  border-color: transparent;
  background-color: transparent;

  // No effect on hover or focus.
  &:hover, &:focus {
    background-color: transparent;
  }

  // Hamburger.
  .icon-bar {
    background-color: $colour-navbar-toggle-bg;
    border: solid 1.5px $colour-navbar-toggle;
  }
}

////////////////////////////////////////////////////////////////////////////////
// Navigation Bar
////////////////////////////////////////////////////////////////////////////////

// Colours.
$colour-navbar-text-hover: #DC143C; // Red variant.

.navbar {
  padding-left: 5vw;
  padding-right: 5vw;
}

// Navigation Bar.
.navbar-default {

  // Fonts.
  font-family: "Oswald";

  // No border.
  border-color: transparent;

  // Brand Image.
  .navbar-brand {

    // Fonts.
    color: white;
    float: left;

    // Pseudoclasses. Text colour is always white.
    &:focus { color: white; };
    &:link { color: white; };
    &:visited { color: white; };
    &:hover { color: white; };
  }

  // Navbar links.
  .navbar-nav > li > a {

    // Link colour.
    color: white;

    // Psuedoclasses. Text changes colour on hover.
    &:focus { color: white; };
    &:link { color: white; };
    &:visited { color: white; };
    &:hover { color: $colour-navbar-text-hover; };

    // Hide the span containing the > element.
    span {
      visibility: hidden;
    }

  }
}
