////////////////////////////////////////////////////////////////////////////////
// Popover popup styles
////////////////////////////////////////////////////////////////////////////////
.popover {
  // Set maximum container width.
  width: 100% !important;
  max-width: 100% !important;

  // Remove rounded corners.
  border-radius: 0px;
}

////////////////////////////////////////////////////////////////////////////////
// Popover Title
////////////////////////////////////////////////////////////////////////////////
.popover-title {
  font-size: 2em;
  text-align: center;
}

////////////////////////////////////////////////////////////////////////////////
// Popover content
////////////////////////////////////////////////////////////////////////////////
.popover-content {
  font-size: 1.75em;
  div { text-align: center; };
  img {
    border: 0px !important;
    margin: 5px;
  }
}
