// Portfolio project container.
.portfolio-panel {
  padding-top: 15px;
  display: block;

  .btn-default {
    border-radius: 0;
    border-bottom: 0px;
    font-size: 0.75em;

    &:hover {
      color: $red;
      background-color: $white;
    }
  }

  .btn-github-portfolio { border-right: 0px; };
  .btn-demo-portfolio { border-left: 0px; };

  .portfolio-description {
    background-color: $white;
    border: solid 1px $lightgrey;
  }

}

// Portfolio image.
.portfolio-image {

  border: solid 1px $lightgrey;
  background-color: $white;
  padding: 3px;

  // Hover effect.
  &:hover {
    -moz-box-shadow: 0 0 10px $grey;
    -webkit-box-shadow: 0 0 10px $grey;
    box-shadow: 0 0 10px $grey;
  }

}
