#portfolio-target {

  // Force section to act like a table.
  display: table;
  width: 100%;

  // Each project is a row.
  .portfolio-container {
    display: table-row;
    margin: 5px;

    // Left Panel contains the image.
    .left {
      display: table-cell;
      width: 50%;
      img {
        max-width: 100%;
        padding: 2px;
      };
    } // End left panel.

    // Right Panel contains the description and buttons.
    .right {
      display: table-cell;
      width: 50%;
      vertical-align: middle;

      a {
        text-decoration: none;

        &:link { color: $grey; };
        &:visited { color: $grey; };
        &:hover { color: $red; };
        &:active { color: $grey; };
        &:focus {color: $grey;};
      }

      button {
        background-color: transparent;
        border: 0;
        width: 45%;

      } // End button.
    } // End right Panel.
  } // End portfolio container
} // End template target.
