////////////////////////////////////////////////////////////////////////////////
// Single portfolio panel
////////////////////////////////////////////////////////////////////////////////
.portfolio-panel {
  display: block;
  padding-top: 15px;

  // Portfolio Image Container.
  .portfolio-image-container {

    // Image
    img {
      border: solid 1px $lightgrey;
      background-color: $white;
      padding: 3px;

      // Image hover effect.
      &:hover {
        -moz-box-shadow: 0 0 10px $grey;
        -webkit-box-shadow: 0 0 10px $grey;
        box-shadow: 0 0 10px $grey;
      }
    }

  }

  // Container for Demo, Info, GitHub buttons.
  .btn-array {
    border-left: solid 1px $lightgrey;
    border-right: solid 1px $lightgrey;
  }

  // Demo, Info, GitHub button styles.
  .btn-default {

    // Borders.
    border: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-radius: 0px;
    outline: none;

    font-size: 0.75em;

    // Hover styles.
    &:hover {
      color: $red;
      background-color: $white;
    }
    &:focus {
      background-color: $white;
    }

  }

  // Portfolio Title.
  .portfolio-description {
    background-color: $white;
    border-left: solid 1px $lightgrey;
    border-right: solid 1px $lightgrey;
    border-bottom: solid 1px $lightgrey;
    width: 100%;
  }

}
