// Portfolio project container.
.portfolio-panel {
  padding-top: 15px;
  display: block;

  .btn-default {
    border-radius: 0;
    border-top: 0px;
    border-bottom: 0px;
    font-size: 0.75em;
    border: 0px;

    &:hover {
      color: $red;
      background-color: $white;
    }


  }

  .btn-array {
    border-left: solid 1px $lightgrey;
    border-right: solid 1px $lightgrey;
  }

  .portfolio-description {
    background-color: $white;
    border-left: solid 1px $lightgrey;
    border-right: solid 1px $lightgrey;
    border-bottom: solid 1px $lightgrey;
    width: 100%;
  }

}

// Portfolio image.
.portfolio-image-container {

  img {
    border: solid 1px $lightgrey;
    background-color: $white;
    padding: 3px;

    // Hover effect.
    &:hover {
      -moz-box-shadow: 0 0 10px $grey;
      -webkit-box-shadow: 0 0 10px $grey;
      box-shadow: 0 0 10px $grey;
    }
  }

}
