////////////////////////////////////////////////////////////////////////////////
// Single portfolio panel
////////////////////////////////////////////////////////////////////////////////
.container-portfolio-project {
  display: block;
  padding-top: 15px;

  position: relative;

  // Portfolio Image Container.
  .portfolio-image-container {

    // Image
    img {
      border: solid 1px $lightgrey;
      background-color: $white;
      padding: 3px;
    }

  }

  // Portfolio Title.
  .portfolio-project-title {
    background-color: $white;
    border-left: solid 1px $lightgrey;
    border-right: solid 1px $lightgrey;
    border-top: solid 1px $lightgrey;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    font-size: 1em;
  }


  // Container for Demo, Info, GitHub buttons.
  .portfolio-project-btn-array {
    border-left: solid 1px $lightgrey;
    border-right: solid 1px $lightgrey;
    border-bottom: solid 1px $lightgrey;
    background-color: $white;

    // Demo, Info, GitHub button styles.
    .btn-default {

      // Borders.
      border: 0px;
      border-top: 0px;
      border-bottom: 0px;
      border-radius: 0px;
      outline: none;

      font-size: 0.75em;

      // Hover styles.
      &:hover {
        color: $red;
        background-color: transparent;
      }
      &:focus {
        background-color: transparent;
      }

    }
  }

  .container-portfolio-project-description {

    // Can be placed anywhere in the container.
    position: absolute;
    width: 100%;

    background-color: rgba(255,255,255, 0.95);
    color: $grey;

    border: solid 1px $lightgrey;

    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 15px;

    // Prevent button hover color bleeding.
    z-index: 100;

    .portfolio-project-description {
      padding-bottom: 15px;
      width: 100%;
      font-size: 1em;
    }
  }

}
