#portfolio-target {

  display: table;
  width: 100%;

  .portfolio-container {
    display: table-row;
    margin: 5px;

    .left {
      display: table-cell;
      width: 50%;
      img { max-width: 100%; padding: 3px;};
    } // End left panel.

    .right {
      display: table-cell;
      width: 50%;
      vertical-align: middle;

      a {
        text-decoration: none;

        &:link { color: $grey; };
        &:visited { color: $grey; };
        &:hover { color: $red; };
        &:active { color: $grey; };
        &:focus {color: $grey;};
      }

      button {
        background-color: transparent;
        border: 0;
        width: 45%;

      } // End button.
    } // End right Panel.
  } // End portfolio container
} // End template target.
