////////////////////////////////////////////////////////////////////////////////
//                      Background Images
////////////////////////////////////////////////////////////////////////////////
$bg-section-home-url: "../images/backgrounds/W1YL4ZANPU.png";
$bg-section-aboutme-url: "../images/backgrounds/cubes.png";
$bg-section-portfolio-url: "../images/backgrounds/cubes.png";
$bg-section-contact-url: "../images/backgrounds/cubes.png";

////////////////////////////////////////////////////////////////////////////////
//                      Colours
////////////////////////////////////////////////////////////////////////////////
$colour-html-inner: #F1662B;
$colour-css-inner: #369CD6;
$colour-js-inner: #F2BF22;

////////////////////////////////////////////////////////////////////////////////
//                              Mixins
////////////////////////////////////////////////////////////////////////////////

// Helper Mixin for the @mixin set-bg-cover.
// This mixin is used to set the rgba values for the linear-gradient.
//
// Arguments:
//    $red: Red channel value. Integer between 0 and 255 inclusive.
//    $green: Green channel value. Integer between 0 and 255 inclusive.
//    $blue: Blue channel value. Integer between 0 and 255 inclusive.
//    $opacity: Level of transparency of the RGB-values. Float between 0 and 1
//              inclusive.
//    $url: URL of the background image.
@mixin set-bg-rgba-url($red, $green, $blue, $opacity, $url) {
  background: linear-gradient(
                rgba($red, $green, $blue, $opacity),
                rgba($red, $green, $blue, $opacity)
              ),
              url($url);
}

// Mixin to set the background image, overlay colour, and overlay opacity for
// a particular element.
//
// Arguments:
//    $url: URL of the background image.
//    $overlay-type: The type of overlay. Possible values are "light", "dark",
//                    or "none".
//    $opacity: Level of transparency of the RGB-values. Float between 0 and 1
//              inclusive.
@mixin set-bg-cover($url, $overlay-type, $opacity) {

  // Sets the background image to $url with a given $overlay-type and $opacity.
  @if ($overlay-type == light) {
    @include set-bg-rgba-url(255, 255, 255, $opacity, $url);
  } @else if ($overlay-type == dark) {
    @include set-bg-rgba-url(51, 51, 51, $opacity, $url);
  } @else {
    background: url($url);
  }

  // Background pattern.
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

////////////////////////////////////////////////////////////////////////////////
//                              Sections
////////////////////////////////////////////////////////////////////////////////

// Section.
.section {
  text-align: center;
  padding-bottom: 55px;

  // Full viewport height.
  min-height: 100vh;

  // Buffer zone.
  padding-top: 10vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

// Home Section.
#section-home {

  // Buffer zone.
  padding-top: 20vh;
  padding-left: 0vw;
  padding-right: 0vw;

  // Background Image.
  @include set-bg-cover($bg-section-home-url, "dark", 0.3);

  // Fonts.
  font-family: "Oswald";
  color: $white;
  .section-title { font-size: 5em; }; // Section Title.
  .section-content { font-size: 3em; }; // Section Body.

  .btn-github, .btn-linkedin, .btn-freecodecamp {
    display: inline-block;
    padding: 20px 50px;
  }

  // Horizontal rule dividing name from repository buttons.
  hr {
    border: 0;
    width: 60%;
    height: 3px;

    background-color: $white;
    color: $white;
  }

}

#section-aboutme {

  // Background Image.
  background: url($bg-section-aboutme-url);

  // Fonts.
  font-family: "Oswald";
  .section-title { font-size: 3em; }; // Section Title.
  .section-content { font-size: 1.5em; }; // Section Body.

  // W3C badge container.
  .w3c-logo-container > img {
     display: inline-block;
     width: 30%;
  }

  // W3C badge hover colours.
  .badge-w3c-html { &:hover { background-color: $colour-html-inner; }; };
  .badge-w3c-css { &:hover { background-color: $colour-css-inner; }; };
  .badge-w3c-js { &:hover { background-color: $colour-js-inner; }; };
}

#section-portfolio {

  // Background Image.
  background: url($bg-section-portfolio-url);

  // Fonts.
  font-family: "Oswald";
  .section-title { font-size: 3em; }; // Section Title.
  .section-content { font-size: 1.5em; }; // Section Body.

}

#section-contact {

  // Background Image.
  background: url($bg-section-contact-url);

  // Fonts.
  font-family: "Oswald";
  .section-title { font-size: 3em; }; // Section Title.
  .section-content { font-size: 1.5em; }; // Section Body.

}
