////////////////////////////////////////////////////////////////////////////////
// Background Image URLs
////////////////////////////////////////////////////////////////////////////////
$bg-section-home-url: "../images/backgrounds/W1YL4ZANPU.png";
$bg-section-aboutme-url: "../images/backgrounds/cubes/cubes.png";
$bg-section-portfolio-url: "../images/backgrounds/cubes/cubes.png";
$bg-section-contact-url: "../images/backgrounds/footer_lodyas/footer_lodyas.png";
$bg-section-footer-url: "../images/backgrounds/dark_wood/dark_wood.png";

////////////////////////////////////////////////////////////////////////////////
// Colours
////////////////////////////////////////////////////////////////////////////////
$colour-html-inner: #F1662B;
$colour-css-inner: #369CD6;
$colour-js-inner: #F2BF22;
$colour-linkedin-blue: rgba(00,77,181,0.7);
$colour-github-grey: rgba(31,33,35,0.7);
$colour-freecodecamp-green: rgba(00,64,00,0.7);

////////////////////////////////////////////////////////////////////////////////
// Mixins
////////////////////////////////////////////////////////////////////////////////

// Helper Mixin for the @mixin set-bg-cover.
// This mixin is used to set the rgba values for the linear-gradient.
//
// Arguments:
//    $red: Red channel value. Integer between 0 and 255 inclusive.
//    $green: Green channel value. Integer between 0 and 255 inclusive.
//    $blue: Blue channel value. Integer between 0 and 255 inclusive.
//    $opacity: Level of transparency of the RGB-values. Float between 0 and 1
//              inclusive.
//    $url: URL of the background image.
@mixin set-bg-rgba-url($red, $green, $blue, $opacity, $url) {
  background: linear-gradient(
                rgba($red, $green, $blue, $opacity),
                rgba($red, $green, $blue, $opacity)
              ),
              url($url);
}

// Mixin to set the background image, overlay colour, and overlay opacity for
// a particular element.
//
// Arguments:
//    $url: URL of the background image.
//    $overlay-type: The type of overlay. Possible values are "light", "dark",
//                    or "none".
//    $opacity: Level of transparency of the RGB-values. Float between 0 and 1
//              inclusive.
@mixin set-bg-cover($url, $overlay-type, $opacity) {

  // Sets the background image to $url with a given $overlay-type and $opacity.
  @if ($overlay-type == light) {
    @include set-bg-rgba-url(255, 255, 255, $opacity, $url);
  } @else if ($overlay-type == dark) {
    @include set-bg-rgba-url(51, 51, 51, $opacity, $url);
  } @else {
    background: url($url);
  }

  // Background pattern.
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

////////////////////////////////////////////////////////////////////////////////
// Sections
////////////////////////////////////////////////////////////////////////////////

// Base section styles.
.section {
  text-align: center;
  padding-bottom: 55px;

  // Full viewport height.
  min-height: 100vh;

  // Buffer zone.
  padding-top: 10vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

// Home Section.
#section-home {

  // Buffer zone.
  padding-top: 20vh;
  padding-left: 0vw;
  padding-right: 0vw;

  // Background Image.
  @include set-bg-cover($bg-section-home-url, "dark", 0.3);

  // Fonts.
  font-family: "Oswald";
  color: $white;

  // Horizontal rule dividing name from repository buttons.
  hr {
    border: 0;
    width: 20%;
    height: 3px;

    background-color: $white;
    color: $white;
  }

  .content {
    margin-bottom: 50px;
  }

  // Developer icons (actually font-awesome) for GitHub, LinkedIn, FreeCodeCamp
  .container-devicons-array {

    margin-top: 50px;

    // Icon hover effects.
    .icon { &:hover { transition: all 0.5s ease; }; };

    // Icon colours.
    .fa-github:hover {color: $colour-github-grey; };
    .fa-linkedin-square:hover {color: $colour-linkedin-blue; };
    .fa-fire:hover {color: $colour-freecodecamp-green; };

    // Link colours.
    a {
      &:link { color: $white; };
      &:visited { color: $white; };
      &:active { color: $white; };
      &:hover { text-decoration: none; };
    }

  } // end devicons container array.

}

// About Me
#section-aboutme {

  // Background Image.
  background: url($bg-section-aboutme-url);

  // Fonts.
  font-family: "Oswald";

  .container-w3c-badges {
    div img {
      margin: 0 auto;
      width: 10vw;
    }
  }

  // Array of devicons.
  .container-devicons-array {

    // One single devicon container.
    .container-devicon { display: inline-block; };

  }

}

// Portfolio
#section-portfolio {

  // Background Image.
  background: url($bg-section-portfolio-url);

  .blurb {
    margin-top: 3vh;
    margin-bottom: 3vh;
  }

  .container-devicon-array {

    // Space icon containers out.
    display: flex;
    justify-content: space-between;

    // Icon containers on the same line.
    .container-devicon { display: inline-block; };
  }

}

// Contact
#section-contact {

  min-height: 1vh;

  padding-bottom: 13vh;

  // Background Image.
  background: url($bg-section-contact-url);

  // Fonts.
  font-family: "Oswald";
  color: white;

  // Forms
  form {

    .fieldset {
      margin-top: 25px;
    }

    // Textbox.
    input[type="text"] {
      background-color: transparent;
      &:focus { outline: none; };

      width: 60vw;
      min-width: 60vw;
      max-width: 60vw;

      text-align: center;
    }

    // Label.
    label { text-align: left; };

    // Textarea.
    textarea {
      background-color: transparent;
      &:focus { outline: none; };

      width: 60vw;
      min-width: 60vw;
      max-width: 60vw;
    }

    // Submit button
    button {
      width: 60vw;
      min-width: 60vw;
      max-width: 60vw;

      margin-top: 45px;

      padding-top: 15px;
      padding-bottom: 15px;

      border: solid 1px $white;
      background-color: transparent;
      color: $white;

      // Remove outline
      &:focus { outline: none; };

      // Button hover.
      &:hover {
        background-color: $white;
        color: $grey;
        transition: all 1s ease;
      }
    }
  }

}

// Footer.
#section-footer {

  // Background Image.
  background-color: $grey;

  // No padding, and no minimum height.
  padding: 0;
  min-height: 0vh;

  // Add padding to top and bottom.
  padding-top: 1vh;
  padding-bottom: 1vh;

  // Fonts.
  font-family: "Oswald";
  color: white;

  // Developer icons (actually font-awesome) for GitHub, LinkedIn, FreeCodeCamp
  .container-devicons-array {

    margin-bottom: 30px;

    // Link colours.
    a {
      &:link { color: $white; };
      &:visited { color: $white; };
      &:active { color: $white; };
      &:hover { text-decoration: none; };
    }
  }

}
