////////////////////////////////////////////////////////////////////////////////
// Colours
////////////////////////////////////////////////////////////////////////////////
$grey: #333333;
$lightgrey: #CCCCCC;
$white: #FFFFFF;
$black: #000000;
$orange: #DB4105;
$red: #DC143C;

////////////////////////////////////////////////////////////////////////////////
// Body
////////////////////////////////////////////////////////////////////////////////
body {
  background-color: $grey;
  font-size: 100%;
}

////////////////////////////////////////////////////////////////////////////////
// SASS Partials
////////////////////////////////////////////////////////////////////////////////
@import "_fonts";
@import "_navbar";
@import "_buttons";
@import "_sections";
@import "_popovers";
@import "_portfolio-panel-template1";
//@import "_portfolio-panel-template2";
@import "_font-size";
