////////////////////////////////////////////////////////////////////////////////
// Colours
////////////////////////////////////////////////////////////////////////////////
$grey: #333333;
$lightgrey: #CCCCCC;
$white: #FFFFFF;
$black: #000000;
$orange: #DB4105;
$red: #DC143C;

////////////////////////////////////////////////////////////////////////////////
// Special Classses
////////////////////////////////////////////////////////////////////////////////


// Center horizonally and vertically.
.center-middle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.visibility-hidden {
  visibility: hidden;
}


////////////////////////////////////////////////////////////////////////////////
// Body
////////////////////////////////////////////////////////////////////////////////
body {
  background-color: $grey;
  
  // Fonts.
  font-family: "Oswald";
  font-size: 100%;
}

////////////////////////////////////////////////////////////////////////////////
// SASS Partials
////////////////////////////////////////////////////////////////////////////////
@import "_fonts";
@import "_navbar";
@import "_sections";
@import "_portfolio-panel-template";
@import "_font-size";
