.middle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  not supported by any browser */ }

body {
  font-family: "Verdana";
  background-color: #34495E; }

#board {
  position: relative; }
  #board .btn {
    position: absolute; }

#board-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-color: rgba(33, 33, 33, 0); }

#btn-green {
  top: 0;
  left: 0; }

#btn-red {
  top: 0;
  right: 0; }

#btn-yellow {
  bottom: 0;
  left: 0; }

#btn-blue {
  bottom: 0;
  right: 0; }

.btn-green-inactive {
  background-color: #00A74A; }

.btn-red-inactive {
  background-color: #9F0F17; }

.btn-yellow-inactive {
  background-color: #CCA707; }

.btn-blue-inactive {
  background-color: #094A8F; }

.btn-green-active {
  background-color: #13FF7C; }

.btn-red-active {
  background-color: #FF4C4C; }

.btn-yellow-active {
  background-color: #FED93F; }

.btn-blue-active {
  background-color: #1C8CFF; }

.indicator-start-off {
  color: black; }

.indicator-start-on {
  color: #DC143C; }

.indicator-strict-off {
  color: black; }

.indicator-strict-on {
  color: #DC143C; }

.corner-round-topleft {
  border-radius: 100% 0 0 0; }

.corner-round-topright {
  border-radius: 0 100% 0 0; }

.corner-round-bottomleft {
  border-radius: 0 0 0 100%; }

.corner-round-bottomright {
  border-radius: 0 0 100% 0; }

.border-green {
  border-left: solid 5px #13FF7C;
  border-top: solid 5px #13FF7C; }

.border-red {
  border-top: solid 5px #FF4C4C;
  border-right: solid 5px #FF4C4C; }

.border-yellow {
  border-left: solid 5px #FED93F;
  border-bottom: solid 5px #FED93F; }

.border-blue {
  border-right: solid 5px #1C8CFF;
  border-bottom: solid 5px #1C8CFF; }

#control-panel-bg {
  position: absolute;
  background-color: #ECE7EE;
  border: solid 5px #34495E;
  border-radius: 100%; }

#control-panel {
  position: absolute;
  font-family: 'Share Tech Mono', monospace;
  background-color: none;
  text-align: center; }
  #control-panel #title {
    font-size: 1.5em; }
  #control-panel #lcd {
    background-color: white;
    border: solid 4px #333333;
    border-radius: 5%;
    outline: none;
    font-family: 'Share Tech Mono', monospace;
    color: black; }
  #control-panel #btn-start, #control-panel #btn-strict {
    background-color: transparent;
    border: none;
    outline: none;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    color: black; }
    #control-panel #btn-start span, #control-panel #btn-strict span {
      line-height: 15px;
      font-size: 1em; }

@media screen and (min-width: 320px) {
  #board {
    width: 315px;
    height: 315px; }
    #board .btn {
      width: 152.5px;
      height: 152.5px; }
  #control-panel-bg {
    width: 152.5px;
    height: 152.5px; }
  #control-panel #title {
    font-size: 1.5em; }
  #control-panel #lcd {
    width: 75%;
    font-size: 2em;
    margin-bottom: 0px; }
  #control-panel #btn-start, #control-panel #btn-strict {
    width: 50px;
    height: 50px; }
    #control-panel #btn-start .indicator-symbol, #control-panel #btn-strict .indicator-symbol {
      font-size: 3em; }
    #control-panel #btn-start .indicator-name, #control-panel #btn-strict .indicator-name {
      font-size: 1em; } }

@media screen and (min-width: 480px) {
  #board {
    width: 475px;
    height: 475px; }
    #board .btn {
      width: 232.5px;
      height: 232.5px; }
  #control-panel-bg {
    width: 232.5px;
    height: 232.5px; }
  #control-panel #title {
    font-size: 2.5em; }
  #control-panel #lcd {
    width: 95%;
    font-size: 3em;
    margin-bottom: 25px; }
  #control-panel #btn-start, #control-panel #btn-strict {
    width: 50px;
    height: 50px; }
    #control-panel #btn-start span, #control-panel #btn-strict span {
      line-height: 20px; }
    #control-panel #btn-start .indicator-symbol, #control-panel #btn-strict .indicator-symbol {
      font-size: 4em; }
    #control-panel #btn-start .indicator-name, #control-panel #btn-strict .indicator-name {
      font-size: 1.5em; } }

@media screen and (min-width: 768px) {
  #board {
    width: 760px;
    height: 760px; }
    #board .btn {
      width: 375px;
      height: 375px; }
  #control-panel-bg {
    width: 375px;
    height: 375px; }
  #control-panel #title {
    font-size: 3.5em; }
  #control-panel #lcd {
    width: 150px;
    font-size: 4em;
    margin-bottom: 5px; }
  #control-panel #btn-start, #control-panel #btn-strict {
    width: 150px;
    height: 150px; }
    #control-panel #btn-start span, #control-panel #btn-strict span {
      line-height: 35px; }
    #control-panel #btn-start .indicator-symbol, #control-panel #btn-strict .indicator-symbol {
      font-size: 5em; }
    #control-panel #btn-start .indicator-name, #control-panel #btn-strict .indicator-name {
      font-size: 2em; } }
